<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body>
    style="background-color:#87c0c5;">
        <h1>
            <center>
                <font color="#185c3e">Wellcome to our campany </font><font color="#b233ff">WYM</font>

                </font>
            <center>
                <input type="text" placeholder="Entrer le nom d'utilisateur" name="username" required>
        </h1>
        <

    <h1>My Webpage</h1>
    {{ a_variable }}

    {# a comment #}
</body>
</html>
