<html>
	<body>
		<h1>About</h1>
                <h1>On s'amuse bien au Campus Numérique In The Alps!</h1>
				<img src = "{{ url_for('static', filename= 'img/data1.jpg') }}" alt = "fhbkjz" width="1000" height="600">
				<img src = "{{ url_for('static', filename= 'img/data2.jpg') }}" alt = "fhbkjz" width="1000" height="600">
				<img src = "{{ url_for('static', filename= 'img/data3.jpg') }}" alt = "fhbkjz" width="1000" height="600">
				<img src = "{{ url_for('static', filename= 'img/data4.jpg') }}" alt = "fhbkjz" width="1000" height="600">
	

				<a href="https://www.linkedin.com/in/eunice-hornowski/">Add me on LinkedIn!</a> 
		<a href="/">Home</a> 
		<a href="form">Form</a> 
	</body>
</html>
