<!DOCTYPE html>
<html lang="en">
<head>
    <title>To contact us</title>
</head>
<body style="background-color:#3399ff;"></body>
    <ul id="navigation">
    
        <li><a href="/"> Return page home</a></li>
    
    </ul>

    <h1><center>
        <font color="#185c3e">You want to contact us  </font><br><br><br><br>
                <font color="#185c3e"> Identify yourself  </font>
                
        </font>
    <center></h1>

    <center>
    <form action="/action_page.php">
        <label for="fname">First name:</label>
        <input type="text" id="fname" value="   " required><br><br><br><br>

        <label for="fname">Name:      </label>
        <input type="text" id="fname" value="   " required><br><br><br><br>

        <label for="fname">Mail:      </label>
        <input type="text" id="fname" value="   " required><br><br><br><br>

        <label for="fname">Phone (<font color="#ff0000">facultatif</font>):      </label>
        <input type="text" id="fname" value="   "optional><br>

        <input type="submit" value="Submit">
      </form> </center>
      <ul id="navigation">
    
        <li><a href="about"> About us </a>
        </li>
    
    </ul>
    <ul id="navigation">
    
        <li><a href="model"> Model </a></li>
    
    </ul>
    
    <ul id="navigation">
    
        <li><a href="contacted"> Contacted </a></li>
    
    </ul>
</body>
</html>
