<!DOCTYPE html>
<html lang="en">
<head>
    <title>About us</title>
</head>
<body style="background-color:#3399ff;"></body>>
    <ul id="navigation">
    
        <li><a href="/"> Return page home</a></li>
    
    </ul>

    <h1><center>
        <font color="#0000ff">WYM   </font><br><br><br><br>
                <font color="#185c3e"> Who we are ?<br>

                    We are a leading firm within the conveyancing sector, driving <br>
                    up standards to improve the service that clients receive. </font>
                <form action="/action_page.php">
                    <br>
            
            
                    
                
        </font>
    <center>

    </h1>
   
    <ul id="navigation">
    
        <li><a href="about"> About us </a>
        </li>
    
    </ul>
    <ul id="navigation">
    
        <li><a href="model"> Model </a></li>
    
    </ul>
    <ul id="navigation">
    
        <li><a href="contact"> Contact  </a></li>
    
    </ul>
   
</body>
</html>
