<html>
	<body>
		<h1>Formulaire</h1>
		
		
		<form action="/form" target="_self" method="post"> 
			<label for="nom">Nom</label><br>
			<input type="text" id="nom" name="nom"><br>
			<label for="prenom">Prénom:</label><br>
			<input type="text" id="prenom" name="prenom">
			<label for="telephone">telephone</label><br>
			<input type="text" id="telephone" name="telephone"><br>
			<label for="mail">mail:</label><br>
			<input type="text" id="mail" name="mail">
			<input type="submit" value="Submit">
		  </form> 
		
		<a href="/">Home</a> 
		<a href="/about"> About</a>
	</body>
</html>

