<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Webpage</title>
</head>
<body
style="background-color:#3399ff;"><br><br>
        <h1>
            <center>
                <font color="#185c3e" size="7">Welcome to our campany </font><font color="#b233ff" size="7">WYM</font>
                

                
            <center>
                
            </body>  <br><br><br>    
         <body>            
        </h1>
       <ul id="navigation">
    
        <li><a href="about"> <font color="#185c3e" size="5">About us </font><span style="padding-left:30px;"></span></a>
            </li>
        
        </ul>
       
        <ul id="navigation">
        
            <li><a href="contact"> <font color="#185c3e" size="5">Contact  </font></a></li>
        
        </ul>
        <ul id="navigation">
        
            <li><a href="contacted"> <font color="#185c3e" size="5">Contacted </font></a></li>
        
        </ul>
        <ul id="navigation">
        
            <li><a href="model"> <font color="#185c3e" size="5">Model </font></a></li>
        
        </ul>
        
    </body>
   
    <br>
    <br>
    <br>
    <center>
    <div>
    
    <img src = "{{ url_for('static', filename = 'logo.jpg') }}" width="350" height="350">
    
    
        
        </div>
    </center>
    <br>
    <br>
    

</html>