<html>
  <head>
    <title>Templating in Flask</title>
  </head>

        <body style="background-color:#3399ff;"></body>

          <ul id="navigation">
    
               <li><a href="/"> Return page home</a></li>

         </ul>
       <body>
  
              <h1>Modèle pour résumer votre texte</h1>
      </body><br><br><br>
		<center>
  <form action="/model" method="post">
    <label for="textmodel">Rentrez votre texte ICI:</label><br>
    <input type="text" id='textmodel' name='textmodel' value="VOICI LE TEXTE PROPOSE PAR DEFAUT"><br>

      <input type="submit" value="Submit">
    </form>
    </center>
    <center>
  </form> 


		<form action="/model" target="_self" method="post"> 
      <p>
                <label for="textmodel"> <font color="#185c3e">Voici le résumé du texte:</font></label><br />
                
                <textarea name="ameliorer" id="ameliorer" rows="10" cols="25">
                  {{ resume }}
                </textarea>
                
            
			
           
      </p>

		  </form> </center>
    </p>
    {{ result }}
    </p>

    </p>
    {{ taille_text }}
    </p>

		</html>
	</body>
</html>

