<!DOCTYPE html>
<html lang="en">
<head>
    <title>To contact us</title>
    
</head>
<body style="background-color:#3399ff;"></body>
    <ul id="navigation">
    
        <li><a href="/"> Return page home</a></li>
    
    </ul>

    <h1><center>
        <font color="#185c3e">You want to contact us  </font><br><br><br><br>
               
                    
                
        </font>
    <center>
        <form method="post" action="traitement.php">
            <p>
                <label for="ameliorer">Identify yourself</label><br />
                <textarea name="ameliorer" id="ameliorer" rows="10" cols="25"></textarea>
            </p>
         </form> 
            
    <center>
        
        <br><br>
       
        <form method="post" action="traitement.php">
            <p>
                <label for="ameliorer"> <font color="#185c3e">Our answer</font></label><br />
                <textarea name="ameliorer" id="ameliorer" rows="10" cols="25"></textarea>
            </p>
            <input type="submit" value="Submit">
         </form> 
            
    
            
        
</font>
        
       
      </form> </center></h1>
      <html>
  
 
</html>


      <ul id="navigation">
    
        <li><a href="about"> About us </a>
        </li>
    
    </ul>
    
    <ul id="navigation">
    
        <li><a href="contact"> Contact  </a></li>
    
    </ul>
    <ul id="navigation">
    
        <li><a href="contacted"> Contacted </a></li>
    
    </ul>
</body>
</html>
