<html>
	<body>
		<h1>Formulaire</h1>
		<img src = "{{ url_for('static', filename= 'img/cake2.jpg') }}" alt = "fhbkjz" width="600" height="800">
		
		
		<form action="/form" target="_self" method="post"> 
			<label for="fname">First name:</label><br>
			<input type="text" id="fname" name="fname"><br>
			<label for="lname">Last name:</label><br>
			<input type="text" id="lname" name="lname">
			<input type="submit" value="Submit">
		  </form> 
		
		<a href="/">Home</a> 
		<a href="/about"> About</a>
	</body>
</html>

